
body{
  background:rgb(255, 255, 255);
  background-repeat:no-repeat;
  color:rgb(255, 255, 255);
}
/*font style*/
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.header{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:10px; 
  justify-content: center;
  align-items: center;
  row-gap:50px;
}
.entry{
  display:flex;
  grid-column:1 / span 3;
  font-size:24px;
  background:linear-gradient(to right, black, white);
  border-radius:10px 0 0 0;
  justify-content:left;
  align-items: center;
}
.navBar{ /*container*/
  grid-column:1  / span 3;
  align-items: center;
  margin-left:40%;
  font-weight:bolder;
}
a:hover{
  cursor:pointer;
  background:whitesmoke;
  opacity:.8;
  border-radius:5px;
  padding:5px;
}
.navDiv{
  display:flex;
  font-size:15px !important;
  gap:40px;
  display:flex;
  color:black;
  flex:2fr 500px;
  grid-row:1 / span 3;
  width:45vw;
  padding:5px;
}
.image{
  grid-column:1 / span 2;
  padding:10px;
  height:auto;
  background:linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
  display:flex;
  flex-direction:row;
  gap:20px;
  justify-content: center;
  border-radius: 0 50px 10px 10px;
}
.main-img-div{
  display:grid;
  grid-template-columns:auto auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  row-gap: 0;
}
.image-div{
  grid-column:1 /  span 2;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width:50%;
  height:100%;
  border-radius:10px;
  border-radius: 360px;
}
.myProfile{                            /* this is how to make a responsive image you must declare the width to 100%*/
    border-radius: 390px;
    height:100%;
    width:40%;
    border-radius:360px;
}
@media (max-width: 650px){                                                                   /*media 650 here*/ 

}
@media (max-width: 1000px){                                                                  /*media 1000 here*/ 
  .image{
    grid-column:1 / span 3;
  }
  .container{
    align-items: center;
    justify-content: center;  
    grid-column:1 / span 3;
  }
 }
.text-header{
  font-size:1.5vw;
  max-width:100%;
   color: whitesmoke;
  justify-content: center;
  align-items: center;
  grid-column:1 / span 2;
}
.container{
  width: auto;
  height:auto;
  border-radius:10px 0 10px 0;
  display:grid;
  grid-template-columns:auto auto auto;
  align-items: center;
  justify-items: center;
  gap:2px;
}
.container img{
  width:90%;
  height:900%;
  border-radius:10px;
  opacity:.6;
}
.container img:hover{
  width:105%;
  height:101%;
  cursor: pointer;
  opacity:1;
}
.main-section-aboutMe{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background:linear-gradient(to bottom, white, black);
  border-radius:10px;
}
@media (max-width: 1120px){
  
  .main-section-aboutMe{
  flex-direction:column;
  gap:0;
  }
}
.skills-section{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:10px;
}
.skills1{
  width:100%;
  background-color: blue;
  display: grid;
  grid-template-columns:auto auto auto;
}
.skillTitle{
  grid-column:1 / span 3;
  text-align: center;
  font-size:1vw;
}
.skills2{
  width:100%;
  background-color: rgb(255, 0, 157);
}
.skills3{
  width:100%;
  background-color: rgb(0, 255, 170);
}
.skills4{
  width:100%;
  background-color: rgb(255, 0, 0);
}
.skills{
  width:auto;
  color:black;
}
.aboutMeSection{
  margin-top:100px;
  display:grid;
  grid-template-columns:150px 150px 150px;
  text-align: center;
  justify-content: left;
  gap: 10px;
  padding:20px;
}
.aboutMeSection *{
  color:white;
}
.aboutMeSection h1{
  color:black;
  grid-column:1 / span 3;
}
.aboutMe{
  border-color: whitesmoke;
  border-style: solid;
  color:black;
  border-radius:10px;
}
.aboutMe h1{
  font-size: medium;
}
